@import "tailwindcss";
@import "fumadocs-ui/css/neutral.css";
@import "fumadocs-ui/css/preset.css";

:root {
  --color-fd-primary: hsl(190, 100%, 44%);
  --color-fd-secondary: hsl(180, 44%, 74%);
  --color-fd-accent: hsl(191, 51%, 87%);
  --color-fd-neutral: hsl(200 15% 65%);
  --color-fd-base-100: hsl(0 0% 100%);
  --color-fd-info: hsl(199 90% 80%);
  --color-fd-success: hsl(160 85% 80%);
  --color-fd-warning: hsl(45 95% 80%);
  --color-fd-error: hsl(0 90% 80%);
}

.dark {
  --color-fd-primary: hsl(190 100% 45%);
  --color-fd-secondary: hsl(187 100% 12%);
  --color-fd-accent: hsl(190 100% 35%);
  --color-fd-neutral: hsl(200 15% 40%);
  --color-fd-base-100: hsl(0 0% 100%);
  --color-fd-info: hsl(199 90% 70%);
  --color-fd-success: hsl(160 85% 70%);
  --color-fd-warning: hsl(45 95% 70%);
  --color-fd-error: hsl(0 90% 70%);
}

.text-start p:last-child {
  color: var(--color-fd-popover-foreground);
}

@layer base {
  button:not([disabled]),
  [role="button"]:not([disabled]) {
    cursor: pointer;
  }
}
